<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>
<style>
body {
  background-image: url("https://rukminim1.flixcart.com/image/704/704/jtsz3bk0/poster/a/m/c/medium-multicolor-ms-dhoni-motivational-wall-posters-original-imafffpfcmth2pgr.jpeg?q=70");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




</style>
<body>
<h1><font color="pink">welcome to my project</font></h1>
<a href="/home/home"><font color="blue"> ipl entry form</font></a><br><br>
<a href="/home/registerteams"><font color="blue"> view all regist ipl teams</font></a>
<!--{%if 5 >= 3   %}-->
<!--<h1>good morning!!</h1>-->
<!--{%endif   %}-->

<!--{%for i in hobbies    %}-->
<!--<h1>{{i}}</h1>-->
<!--{%endfor   %}-->

</body>
</html>